<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CodeDriversMVC</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CodeDriversMVC.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid navbar-contener">
                <div>

                    <a asp-area="" asp-controller="Home" asp-action="Index" class="logo-link">
                        <img src="~/Images/logo.png" alt="logo" class="logo-img">
                    </a>
                    <a asp-area="" asp-controller="Home" asp-action="About">O nas</a>
                    <a asp-area="" asp-controller="Car" asp-action="Index">Baza pojazdów</a>
                    <a asp-area="" asp-controller="Login" asp-action="Index">Logowanie</a>
                    <a asp-area="" asp-controller="Registration" asp-action="Index">Rejestracja</a>
                    <a asp-area="" asp-controller="PanelAdmin" asp-action="Index">PanelAdmin</a>
                    <a asp-area="" asp-controller="PanelUser" asp-action="Index">PanelUser</a>
                </div>
            </div>
        </nav>

        <div class="container">
            <main role="main" class="pb-3">
                @if (TempData.ContainsKey("Success"))
                {
                    <p class="alert alert-success">@TempData["Success"]</p>
                }
                @if (TempData.ContainsKey("Delete"))
                {
                    <p class="alert alert-danger">@TempData["Delete"]</p>
                }
                @if (TempData.ContainsKey("SuccessUser"))
                {
                    <p class="alert alert-success">@TempData["SuccessUser"]</p>
                }
                @if (TempData.ContainsKey("DeleteUser"))
                {
                    <p class="alert alert-danger">@TempData["DeleteUser"]</p>
                }
                
                @RenderBody()
            </main>
        </div>
        <div class="position-absolute top-50 start-50 translate-middle" style="z-index: 11">
            <div id="toast1" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="toast-header">
                    <strong class="me-auto">Sukces!</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                </div>
                <div class="toast-body">
                    Zostałeś poprawnie zarejestrowany!
                </div>
            </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - CodeDriversMVC - <a asp-area="" asp-controller="Home" asp-action="About">About</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
