@model CodeDrivers.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1 style="text-align:center;">Usuwanie użytkownika</h1>

<h3 style="text-align:center;">Czy na pewno chcesz usunąć użytkownika?</h3>
<div class="delete-user-card">
    <h4></h4>
    <hr />
    <dl>
        <dt>Imię:</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>
        <dt>Nazwisko:</dt>
        <dd>@Html.DisplayFor(model => model.LastName)</dd>
        <dt>Email:</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>
        <dt>Numer telefonu:</dt>
        <dd>@Html.DisplayFor(model => model.PhoneNumber)</dd>
        <dt>Numer prawa jazdy:</dt>
        <dd>@Html.DisplayFor(model => model.DriversLicenceNumber)</dd>
        <dt>Zarezerwowane auto:</dt>
        <dd></dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Email" />
        <input type="submit" value="Usuń" class="btn btn-danger" />
    </form>
</div>
<div class="text-center">
    <a asp-action="ViewList" class="back-link">Powrót do listy</a>
</div>

