@model CodeDrivers.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1 style="text-align:center;">Szczegóły użytkownika</h1>

<div class="details-card">
    <h4 style="text-align:center;">Dane:</h4>
    <hr />
    <div class="row justify-content-center">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-4">Imię:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                <dt class="col-sm-4">Nazwisko:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.LastName)</dd>

                <dt class="col-sm-4">Adres e-mail:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.Email)</dd>

                <dt class="col-sm-4">Data urodzenia:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DateOfBirth)</dd>

                <dt class="col-sm-4">Numer telefonu:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.PhoneNumber)</dd>

                <dt class="col-sm-4">Numer prawa jazdy:</dt>
                <dd class="col-sm-8">@Html.DisplayFor(model => model.DriversLicenceNumber)</dd>
            </dl>
        </div>
    </div>
</div>

<div class="text-center">
    <a asp-action="ViewList" class="back-link">Powrót do listy</a>
</div>
