@model CodeDrivers.Models.User

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuwanie użytkownika</h1>

<h3>Czy na pewno chcesz usunąć użytkownika?</h3>
<div>
    <h5>Użytkownik:</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Imię
            @* @Html.DisplayNameFor(model => model.Name) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            Nazwisko
            @* @Html.DisplayNameFor(model => model.LastName) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            Data urodzenia
            @* @Html.DisplayNameFor(model => model.DateOfBirth) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            Hasło
            @* @Html.DisplayNameFor(model => model.Password) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            Numer telefonu
            @* @Html.DisplayNameFor(model => model.PhoneNumber) *@
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            Numer prawa jazdy
            @* @Html.DisplayNameFor(model => model.DriversLicenceNumber) *@
        </dt>
        <dd class = "col-sm-10">  
            @Html.DisplayFor(model => model.DriversLicenceNumber)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Usuń" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót do listy</a>
    </form>
</div>
