@model CodeDrivers.Models.Car.Car
@{
        <p>@Html.DisplayFor(model => model.Brand)</p>
        <p>@Html.DisplayFor(model => model.Segment)</p>
        <p>@Html.DisplayFor(model => model.GearTransmission)</p>
        <p>@Html.DisplayFor(model => model.Motor)</p>
        <p>@Html.DisplayFor(model => model.Id)</p>
}
