@using CodeDrivers.Models.Car
@using CodeDrivers.Models
@model CodeDrivers.Models.Car.Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="carSearch-mainPanel">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <h1>Wyszukaj pojazd</h1>
        <div class="Filter-Car">
            <select id="brandDropdown" name="searchTextBrand">
                <option value="Wszystko">Wszystko</option>
                @foreach (var carBrand in Enum.GetValues(typeof(CarBrand)))
                {
                    <option>@carBrand</option>
                }
            </select>
            <select id="segmentDropdown" name="segmentDropdownText">
                @foreach (var carSegment in Enum.GetValues(typeof(CarSegment)))
                {
                    <option>@carSegment</option>
                }
            </select>
            <select id="gearTypeDropdown" name="gearTypeDropdownText">
                @foreach (var gearType in Enum.GetValues(typeof(GearType)))
                {
                    <option>@gearType</option>
                }
            </select>
            <select id="motorTypeDropdown" name="motorTypeDropdownText">
                @foreach (var motorType in Enum.GetValues(typeof(MotorType)))
                {
                    <option>@motorType</option>
                }
            </select>
            <label>Początek:</label>
            <input type="date" data-val="true" data-val-required="To pole jest wymagane." name="dateStart" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
            <label>Koniec:</label>
            <input type="date" data-val="true" data-val-required="To pole jest wymagane." name="dateEnd" value="@DateTime.Today.ToString("yyyy-MM-dd")" />
            <button type="submit">Wyszukaj</button>

        </div>


    }
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
