@model CodeDrivers.Models.Car.Car

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div class="details-panel">
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Id
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Marka
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            Model
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            Segment
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Segment)
        </dd>
        <dt class = "col-sm-2">
            Skrzynia biegów
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GearTransmission)
        </dd>
        <dt class = "col-sm-2">
            Dostępność: 
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAvailable)
        </dd>
        <dt class = "col-sm-2">
            Stawka za dzień
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PricePerDay)
        </dd>
    </dl>
</div>
<div class="car-actions">
    <a asp-action="Edit" asp-route-id="@Model.Id" class="back-container">Edytuj</a>
    <a asp-action="Index" class="back-container">Wróć do listy</a>
</div>
