@using CodeDrivers.Models.Car
@using CodeDrivers.Models
@model IEnumerable<CodeDrivers.Models.Car.Car>
@{
    ViewData["Title"] = "Cars";
}
<h1 style="text-align:center;">Baza pojazdów</h1>

<div class="car-container" style="text-align:center;">
    <button style="margin-bottom: 50px;">
        <a asp-action="Create">Dodaj nowy pojazd</a>
    </button>
    <div class="car-grid">
        @foreach (var item in Model)
        {
            <div class="car-card">
                <div class="car-image">
                    <img src="~/Images/@item.ImageFileName" alt="Car Image" />
                </div>
                <div class="car-details">
                    <p><strong>Id:</strong> @Html.DisplayFor(modelItem => item.Id)</p>
                    <p><strong>Marka:</strong> @Html.DisplayFor(modelItem => item.Brand)</p>
                    <p><strong>Model:</strong> @Html.DisplayFor(modelItem => item.Model)</p>
                    <p><strong>Segment:</strong> @Html.DisplayFor(modelItem => item.Segment)</p>
                    <p><strong>Rodzaj napędu:</strong> @Html.DisplayFor(modelItem => item.Motor)</p>
                    <p><strong>Skrzynia biegów:</strong> @Html.DisplayFor(modelItem => item.GearTransmission)</p>
                    <p><strong>Dostępność:</strong> @Html.DisplayFor(modelItem => item.IsAvailable)</p>
                    <p><strong>Stawka za dzień:</strong> @Html.DisplayFor(modelItem => item.PricePerDay)</p>
                </div>
                <div class="car-actions">
                    <div class="action-links">
                        @Html.ActionLink("Edytuj", "Edit", new { id = item.Id }, new { @class = "edit-link btn btn-primary" })
                        @Html.ActionLink("Szczegóły", "Details", new { id = item.Id }, new { @class = "details-link btn btn-info" })
                        @Html.ActionLink("Usuń", "Delete", new { id = item.Id }, new { @class = "delete-link btn btn-danger" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function filterTable(filterId, columnIndex) {
        var selectedValue = document.getElementById(filterId).value;
        var table = document.querySelector('.table tbody');
        var rows = table.getElementsByTagName('tr');
        for (var i = 0; i < rows.length; i++) {
            var cells = rows[i].getElementsByTagName('td');
            var cellValue = cells[columnIndex].innerText || cells[columnIndex].textContent;
            if (selectedValue === "" || cellValue === selectedValue) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }
</script>