@model CodeDriversMVC.Models.ReservationViewModel

@{
    ViewData["Title"] = "Create";
}
<div class="login-panel">
    <div class="col-md-4">

        <h1>Rezerwacja pojazdu @Model.Brand @Model.Model</h1>

        <p>Wybierz zakres dat dla Twojej rezerwacji</p>
        <hr />
        <form asp-action="Create">
            <input type="hidden" asp-for="@Model.CarId" />
            <input type="hidden" asp-for="@Model.Brand" />
            <input type="hidden" asp-for="@Model.Model" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserEmail" class="control-label">Twój adres e-mail</label>
                <input asp-for="UserEmail" class="form-control" readonly style="background-color: #f8f9fa; cursor: not-allowed;  />
                <span asp-validation-for="UserEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationFrom" class="control-label">Początek rezerwacji</label>
                <input asp-for="ReservationFrom" id="ReservationFrom" class="form-control" type="date" value="@(((DateTime)ViewData["DateStart"]).ToString("yyyy-MM-dd"))" />
                <span asp-validation-for="ReservationFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationTo" class="control-label">Koniec rezerwacji</label>
                <input asp-for="ReservationTo" id="ReservationTo" class="form-control" type="date" value="@(((DateTime)ViewData["DateEnd"]).ToString("yyyy-MM-dd"))" />
                <span asp-validation-for="ReservationTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PricePerDay" class="control-label">Cena za dzień wynajmu</label>
                <div class="input-group">
                    <input asp-for="PricePerDay" type="number" id="PricePerDay" class="form-control" readonly style="background-color: #f8f9fa; cursor: not-allowed;" />
                    <div class="input-group-append">
                        <span class="input-group-text">zł</span>
                    </div>
                </div>
                <span asp-validation-for="PricePerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationDuration" class="control-label">Łączny czas wynajmu</label>
                <div class="form-control" id="ReservationDuration">@ViewData["DurationTime"] dni</div>
                <span asp-validation-for="ReservationDuration" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="TotalReservationPrice">Cena całkowita</label>
                <div class="form-control" id="TotalPrice" type="number">@ViewData["TotalPrice"] zł</div>
            </div>

            <br />
            <div class="form-group">
                <input type="submit" value="Zarezerwuj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div style="display: flex; justify-content: center;">
    <a asp-controller="Home" asp-action="Index">Wróć do wyboru aut</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>

        var reservationFromElement = document.getElementById('ReservationFrom');
        var reservationToElement = document.getElementById('ReservationTo');
        var durationTimeElement = document.getElementById('ReservationDuration');
        var pricePerDayElement = document.getElementById('PricePerDay');


        reservationFromElement.addEventListener('change', calculateTotalPrice);
        reservationToElement.addEventListener('change', calculateTotalPrice);
        pricePerDayElement.addEventListener('change', calculateTotalPrice);

        function calculateTotalPrice() {
            var reservationFrom = new Date(reservationFromElement.value);
            var reservationTo = new Date(reservationToElement.value);
            var pricePerDay = parseFloat(pricePerDayElement.value);

            var durationTime = (reservationTo - reservationFrom) / (1000 * 60 * 60 * 24);

            var totalPrice = durationTime * pricePerDay;

            var totalPriceElement = document.getElementById('TotalPrice');
            totalPriceElement.textContent = totalPrice.toFixed(2);
            durationTimeElement.textContent = durationTime;
        }
    </script>
}
