@model CodeDriversMVC.Models.ReservationResultModel

@{
    ViewData["Title"] = "Success";
}

<h1>Potwierdzenie rezerwacji</h1>

<div>
    <h4>Poniżej znajdziesz szczegóły swojej rezerwacji</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Samochód: @Model.Brand @Model.Model
            Data odbioru: @Model.ReservationFrom
            Data zwrotu: @Model.ReservationTo
            Cena: @Model.TotalReservationPrice


        </dt>
        <dd class="col-sm-10">
        </dd>
        
    </dl>
</div>
<div>

    <a asp-action="Index">Back to List</a>
</div>
