@model CodeDriversMVC.Models.ReservationResultModel

@{
    ViewData["Title"] = "Success";
}

<h1>Potwierdzenie rezerwacji</h1>

<div class="reservation-details">
    <h4>Poniżej znajdziesz szczegóły swojej rezerwacji</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Samochód:</dt>
        <dd class="col-sm-9">@Model.Brand @Model.Model</dd>

        <dt class="col-sm-3">Data odbioru:</dt>
        <dd class="col-sm-9">@Model.ReservationFrom.ToShortDateString()</dd>

        <dt class="col-sm-3">Data zwrotu:</dt>
        <dd class="col-sm-9">@Model.ReservationTo.ToShortDateString()</dd>

        <dt class="col-sm-3">Łączny czas wypożyczenia samochodu:</dt>
        <dd class="col-sm-9">@Model.ReservationDuration.Days dni</dd>

        <dt class="col-sm-3">Cena:</dt>
        <dd class="col-sm-9">@Model.TotalReservationPrice</dd>

        <dt class="col-sm-3">Miejsce odbioru:</dt>
        <dd class="col-sm-9">Lotnisko Chopina, Warszawa</dd>
    </dl>
</div>
<div>
    <a asp-controller="Home" asp-action="Index">Strona główna</a>
</div>
